/*
  ? Header styled
*/

.page_header {
  width: 100%;
  height: 6rem;
  background-color: #F1F1F1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_span {
  margin-left: 2rem;
  padding: 0.8rem;

  text-align: center;
  font-size: 1.4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;

  cursor: default;
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 15rem;
}

.header-nav_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-ul_li {
  width: 100%;
  height: 100%;
}

.ul-li_a {
  white-space: nowrap;
  color: #000;

  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;

  background-color: #eee;

  border-radius: 4rem;

  margin: .6rem;
  padding: .6rem;
}

.ul-li_a:hover {
  background-color: #ddd;
  transition: 0.2s ease-out 0.4s;
}

/*
  ? Page Content styled
*/

.page_content {
  width: 10rem auto;
  height: 100%;
  margin: 6rem;
  padding: 4rem;

  background-color: #e6e6e6;
}

.content_about {
  padding: 1rem;
  margin: 1rem;

  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;

  text-align: center;
}

.content-about_section { /* ... */ }

.content_motivos {
  padding: 1rem;
  margin: 1rem;

  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;

  text-align: center;
}

.content-motivos_section { /* ... */ }

.content_antonio {
  padding: 1rem;
  margin: 1rem;

  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;

  text-align: center;
}

.content-antonio_section { /* ... */ }

/*
  ? Page Content Extra styled
*/

.img_ {
  margin-top: 1rem;

  width: 100%;
  height: 100%;
}

.space {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}