/*
  ? Header styled
*/

.page_header {
  width: 100%;
  height: 6rem;
  background-color: #F1F1F1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  text-decoration: none;
}

.header_span {
  margin-left: 2rem;
  padding: 0.8rem;

  text-align: center;
  font-size: 1.4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;

  cursor: default;

  list-style: none;
  text-decoration: none;
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 15rem;

  list-style: none;
  text-decoration: none;
}

.header-nav_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style: none;
  text-decoration: none;
}

.nav-ul_li {
  width: 100%;
  height: 100%;

  list-style: none;
  text-decoration: none;
}

.ul-li_a {
  white-space: nowrap;
  color: #000;

  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;

  background-color: #eee;

  border-radius: 4rem;

  margin: .6rem;
  padding: .6rem;

  list-style: none;
  text-decoration: none;
}

.ul-li_a:hover {
  background-color: #ddd;
  transition: 0.2s ease-out 0.4s;
}

/*
  ? Page Content styled
*/

.page_content {
  width: 10rem auto;
  height: 100%;
  margin: 6rem;
  padding: 4rem;

  background-color: #e6e6e6;
}

.content_about {
  padding: 1rem;
  margin: 1rem;

  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;

  text-align: center;
}

.content-about_section { /* ... */ }

.content_motivos {
  padding: 1rem;
  margin: 1rem;

  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;

  text-align: center;
}

.content-motivos_section { /* ... */ }

.content_antonio {
  padding: 1rem;
  margin: 1rem;

  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;

  text-align: center;
}

.content-antonio_section { /* ... */ }

/*
  ? Page Content Extra styled
*/

.img_ {
  margin-top: 1rem;

  width: 100%;
  height: 100%;
}

.space {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*
  ? Footer styled
*/

.page_footer {
  width: 100%;
  height: 4rem;
  background-color: #cacaca;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav_span {
  display: flex;
  justify-content: space-around;
  align-items: center;

  align-self: baseline;
}

.nav-span_img {
  display: flex;

  width: 2.4rem;
  height: 2.4rem;
  margin: 1rem;
  padding: 0.2rem;
}

.nav-span_a {
  display: flex;

  color: #000;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  padding: 0.2rem;
}

/*
  ? Mobile styled
*/

@media (max-width: 768px) {

  /*
    ? Header styled
  */

  .page_header {
    width: 100%;
    height: 4rem;
    background-color: #F1F1F1;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header_span {
    margin-left: 1rem;
    padding: 0.4rem;
  
    text-align: center;
    font-size: .6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
  
    cursor: default;
  }
  
  .header_nav {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 7.5rem;
  }

  .header-nav_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-ul_li {
    width: 100%;
    height: 100%;
  }

  .ul-li_a {
    white-space: nowrap;
    color: #000;

    font-size: .6rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;

    background-color: #eee;

    border-radius: 2rem;

    margin: .3rem;
    padding: .3rem;
  }

  .ul-li_a:hover {
    background-color: #ddd;
    transition: 0.2s ease-out 0.4s;
  }

  /*
  ? Page Content styled
  */
  
  
  .page_content {
    width: 5rem auto;
    height: 100%;
    margin: 3rem;
    padding: 2rem;

    background-color: #e6e6e6;
  }

  .content_about {
    padding: 1rem;
    margin: 1rem;

    font-size: .6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;

    text-align: center;
  }

  .content-about_section { /* ... */ }

  .content_motivos {
    padding: 1rem;
    margin: 1rem;

    font-size: .6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;

    text-align: center;
  }

  .content-motivos_section { /* ... */ }

  .content_antonio {
    padding: 1rem;
    margin: 1rem;

    font-size: .6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;

    text-align: center;
  }

  .content-antonio_section { /* ... */ }

  /*
  ? Page Content Extra styled
  */

  .img_ {
    margin-top: .6rem;

    width: 100%;
    height: 100%;
  }

  .space {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }

  /*
    ? Footer styled
  */

  .page_footer {
    width: 100%;
    height:2rem;
    background-color: #cacaca;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-footer_nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-nav_span {
    display: flex;
    justify-content: space-around;
    align-items: center;

    align-self: baseline;
  }

  .nav-span_img {
    display: flex;

    width: 1.2rem;
    height: 1.2rem;
    margin: .6rem;
    padding: 0.2rem;
  }

  .nav-span_a {
    display: flex;

    color: #000;
    font-size: .6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    padding: 0.2rem;
  }
}